---
layout: site/default
scripts: "instagram"
---
{% include components/hero/minimal.html
  title= "Diogo Russo"
  subtitle="UX & Product Design"
  legend= "I build digital tools for farmers at The Climate Corporation, San Francisco. Originally from Rio de Janeiro, Brazil, I have a MBA in Design Strategy from California College of the Arts. I love bringing ideas to life and enjoy creating meaningful  <span class=\"txt-rotate\" data-period=\"1000\" data-rotate=\"[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]\"><span class=\"wrap\">EXPERIENCES</span></span>"
  bg_color="bg-light"
  wrap="wrap-large"
  txt_align="txt-left"
  txt_color="txt-dark"
  title_size="jumbo"
  scroll_arrow="false"
  anchor="journal"
%}
<a id="journal"></a>
{% include content/process/process.html %}
<br><br><br><br><br><br>

{% comment %} <div class="portfolio-title">
                <h2>Digital Tools for Farmers</h2>
                <h3>Transforming field data into meaningful insights.<br/> UX & Product design at <a href="https://climate.com">climate.com</a></h3>
        </div> {% endcomment %}

<div class="projects">        
  <section style="padding-top: 4rem;padding-bottom: 4rem;">
          <div class="box">
                  {% capture img_coca %}
                  {{ site.cdn }}{{ include.version }}work/hero_SA_1920-1080.png
                  {% endcapture %}
                  {% include components/card/large.html 
                          url="https://work.diogorusso.com/fwc-2014-conteudo-multimidia-cobertura-coca-cola" 
                          title="Predictive Seed Placement Recommendations" 
                          category="Creative Direction, Film, Photography"
                          description="Mix and match illustrations of people using a design library. Combine clothes, hair, poses, scenes. #1 Product of the Day Dec 3rd, 2018, on Product Hunt. Typewolf—Site of the Day.Site built using Webflow.Open-source for personal and commercial use." 
                          image=img_coca 
                  %}
          </div>
  </section>
  <section style="padding-top: 4rem;padding-bottom: 4rem;">
          <div class="box">
                  {% capture img_lpc %}
                  {{ site.cdn }}{{ include.version }}work/hero_RX_1920-1080.png
                  {% endcapture %}
                  {% include components/card/large.html 
                          url="https://work.diogorusso.com/launchpad" 
                          title="Advanced Variable Rate Seed Prescriptions" 
                          category="UI/UX, Product Design"
                          description="Mix and match illustrations of people using a design library. Combine clothes, hair, poses, scenes. #1 Product of the Day Dec 3rd, 2018, on Product Hunt. Typewolf—Site of the Day.Site built using Webflow.Open-source for personal and commercial use."  
                          image=img_lpc 
                  %}
          </div>
  </section>
  <section style="padding-top: 4rem;padding-bottom: 4rem;">
          <div class="box">
                  {% capture img_foodtopia %}
                  {{ site.cdn }}{{ include.version }}work/hero_SYNC_1920-1080.png
                  {% endcapture %}
                  {% include components/card/large.html 
                          url="https://work.diogorusso.com/foodtopia" 
                          title="Data Mule for Large Farming Operations" 
                          category="UI/UX and Product Design" 
                          image=img_foodtopia 
                  %}
          </div>
  </section>
  <section style="padding-top: 4rem;padding-bottom: 4rem;">
          <div class="box">
                  {% capture img_kenner %}
                  {{ site.cdn }}{{ include.version }}work/hero_RX_1920-1080.png
                  {% endcapture %}
                  {% include components/card/large.html 
                          url="https://work.diogorusso.com/kenner-ixd-motion" 
                          title="Kenner IxD & Video" 
                          category="Creative Direction, Interaction Design" 
                          description="Mix and match illustrations of people using a design library. Combine clothes, hair, poses, scenes. #1 Product of the Day Dec 3rd, 2018, on Product Hunt. Typewolf—Site of the Day.Site built using Webflow.Open-source for personal and commercial use." 
                          image=img_kenner
                  %}
          </div>
  </section>
</div>


<br><br><br><br><br><br><br><br>
{% include content/work/featured.html %}
<br><br><br><br><br><br><br><br>
{% include content/bio/profile.html %}




