---
layout: site/default
scripts: "instagram"
---
{% include components/hero/minimal.html
  title= "Diogo Russo"
  subtitle= "Diogo is an expert designer, illustrator, and multimedia artist who has been running his own graphic design studio in Brazil for over 10 years. Some of his biggest clients include Coca-Cola, Red Bull and SC Johnson. He studied graphic design at PUC University in Rio de Janeiro. 👉"
  bg_color="bg-light"
  wrap="wrap-large"
  txt_align="txt-left"
  txt_color="txt-dark"
  scroll_arrow="false"
  anchor="journal"
%}
{% include content/bio/profile.html %}
<a id="journal"></a>
<br><br><br><br><br><br><br><br>
{% include content/work/portfolio.html %}
{% include content/process/process.html %}
