---
layout: sidebar
title: Journal
---


        <section style="padding:6rem 1rem;">
        <div class="row">
        {% for post in site.posts limit:999  %}

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 card-wrap">
        <article class="card" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{post.tumblr_url}}" target="_blank" rel="noopener">
            <div class="card-img ratio1-1">
                {% assign images = post.content | split:"<img " %}
          {% for image in images %}
            {% if image contains 'src=' %}
              {% assign imageMarkup = image | split:">" | first %}
              <img class="img-content" style="width:auto;height:100%;min-width:100%;min-height:100%" {{ imageMarkup }}>
              {% break %}
            {% endif %}
          {% endfor %}
                <noscript><img class="img-content" src="{{include.image}}" alt="{{ site.tile }} {{ include.title }} {{ include.category }}"></noscript>
            </div>
            <div class="content">
              <small>{{post.tags}}</small>
              <h3>{{post.title}}</h3>
            </div>
          </a>
        </article>
        </div>
      {% endfor %}
    
    </div>
    </section>

  
  

{% comment %} {% include artwork.html %} {% endcomment %}
{% comment %} {% include content/journal/posts.html %} {% endcomment %}
















