---
layout: masonry
scripts: "masonry"
---

<style>

.course {
  float: left;
}
.gutter-sizer { width: 1rem; }
.grid-sizer,
.course { width: calc(33% - 1rem); margin-bottom:3rem; }

@media (min-width: 960px) and (max-width: 1200px) {
    .grid-sizer,
    .course { width: calc(33% - 1rem); }
}

@media (min-width: 768px) and (max-width: 959px) {
    .grid-sizer,
    .course { width: calc(50% - 1rem); }
}

@media (min-width: 600px) and (max-width: 767px) {
    .grid-sizer,
    .course { width: calc(50% - 1rem); }
}

@media (min-width: 480px) and (max-width: 599px) {
    .grid-sizer,
    .course { width: 100%; }
}

@media (min-width: 320px) and (max-width: 479px) {
    .grid-sizer,
    .course { width: 100%; }
}

@media (max-width: 319px) {
    .grid-sizer,
    .course { width: 100%; }
}

</style>
        <div class="main-area" style="margin-top:6rem;">
                <div style="position:fixed; top:6rem;left:0;width:20%;z-index:9">
                        <nav id="filter" class="filters">
                        <ul class="global-controls">
                                <li><a href="javascript:void(0)" class="sort" data-sort-value="name">Sort alphabetically by title</a></li>
                        </ul><!-- .global-controls -->
                        <h3 class="filter-title">Filter by subject matter</h3>
                        <ul class="filter-list" data-filter-group="subject">
                                <li><a href="javascript:void(0)" data-filter=".design">Design</a></li>
                                <li><a href="javascript:void(0)" data-filter=".developer">Development</a></li>
                                <li><a href="javascript:void(0)" data-filter=".front-end">Front-end courses</a></li>
                                <li><a href="javascript:void(0)" data-filter=".full-stack">Full-stack courses</a></li>
                                <li><a href="javascript:void(0)" data-filter=".genesis">Genesis (WordPress)</a></li>
                                <li><a href="javascript:void(0)" data-filter=".languages">Programming Languages</a></li>
                                <li><a href="javascript:void(0)" data-filter=".projects">Projects</a></li>
                                <li><a href="javascript:void(0)" data-filter=".rwd">Responsive Web Design</a></li>
                                <li><a href="javascript:void(0)" data-filter=".servers">Servers</a></li>
                                <li><a href="javascript:void(0)" data-filter=".skills">Skills</a></li>
                                <li><a href="javascript:void(0)" data-filter=".tools">Tools</a></li>
                                <li><a href="javascript:void(0)" data-filter=".ux">User Experience</a></li>
                                <li><a href="javascript:void(0)" data-filter=".wp">WordPress</a></li>
                        </ul><!-- .subject -->
                        <h3 class="filter-title">Filter by author</h3>
                        <ul class="filter-list" data-filter-group="author">
                                <li><a href="javascript:void(0)" data-filter=".simon">Simon Allardice</a></li>
                                <li><a href="javascript:void(0)" data-filter=".alex">Alex Banks</a></li>
                                <li><a href="javascript:void(0)" data-filter=".jess">Jess Chadwick</a></li>
                                <li><a href="javascript:void(0)" data-filter=".chelleman">Joe Chelleman</a></li>
                                <li><a href="javascript:void(0)" data-filter=".carrie">Carrie Dils</a></li>
                                <li><a href="javascript:void(0)" data-filter=".joe">Joe Dolson</a></li>
                                <li><a href="javascript:void(0)" data-filter=".drew">Drew Falkman</a></li>
                                <li><a href="javascript:void(0)" data-filter=".val">Val Head</a></li>
                                <li><a href="javascript:void(0)" data-filter=".sue">Sue Jenkins</a></li>
                                <li><a href="javascript:void(0)" data-filter=".chris">Chris Nodder</a></li>
                                <li><a href="javascript:void(0)" data-filter=".morten">Morten Rand-Hendriksen</a></li>
                                <li><a href="javascript:void(0)" data-filter=".justin">Justin Seeley</a></li>
                                <li><a href="javascript:void(0)" data-filter=".kevin">Kevin Skoglund</a></li>
                                <li><a href="javascript:void(0)" data-filter=".barron">Barron Stone</a></li>
                                <li><a href="javascript:void(0)" data-filter=".ray">Ray Villalobos</a></li>
                                <li><a href="javascript:void(0)" data-filter=".james">James Williamson</a></li>
                        </ul>
                        </nav><!-- .filters -->
                </div>
                <div class="courses" style="margin-left:20%;">
                                <div class="grid-sizer"></div>
                                <div class="gutter-sizer"></div>
                                {% capture img_foodtopia %}
                                        {{site.baseurl}}/tumblr_files/tumblr_kxqvbcQjpj1qammdvo1_400.jpg
                                {% endcapture %}
                                {% include card_masonry.html 
                                        url="https://www.linkedin.com/learning/foundations-of-programming-databases"
                                        class="full-stack ray front-end skills" 
                                        title="a Becoming a Web Developer: Full Stack vs. Front End" 
                                        categories="Ray Villalobos" 
                                        img=img_foodtopia 
                                %}
                                {% capture img_foodtopia %}
                                        {{site.baseurl}}/tumblr_files/tumblr_mw56x1rpKL1qammdvo1_640.jpg
                                {% endcapture %}
                                {% include card_masonry.html 
                                        url="https://www.linkedin.com/learning/foundations-of-programming-databases"
                                        class="full-stack joe front-end skills" 
                                        title="b Becoming a Web Developer: Full Stack vs. Front End" 
                                        categories="Joe" 
                                        img=img_foodtopia 
                                %}
                                {% capture img_foodtopia %}
                                        {{site.baseurl}}/tumblr_files/tumblr_kxqvbcQjpj1qammdvo1_400.jpg
                                {% endcapture %}
                                {% include card_masonry.html 
                                        url="https://www.linkedin.com/learning/foundations-of-programming-databases"
                                        class="full-stack ray front-end skills" 
                                        title="c Becoming a Web Developer: Full Stack vs. Front End" 
                                        categories="Ray Villalobos" 
                                        img=img_foodtopia 
                                %}
                                {% capture img_foodtopia %}
                                        {{site.baseurl}}/tumblr_files/tumblr_mw56x1rpKL1qammdvo1_640.jpg
                                {% endcapture %}
                                {% include card_masonry.html 
                                        url="https://www.linkedin.com/learning/foundations-of-programming-databases"
                                        class="full-stack joe front-end skills" 
                                        title="d Becoming a Web Developer: Full Stack vs. Front End" 
                                        categories="Joe" 
                                        img=img_foodtopia 
                                %}
                                {% capture img_foodtopia %}
                                        {{site.baseurl}}/tumblr_files/tumblr_kxqvbcQjpj1qammdvo1_400.jpg
                                {% endcapture %}
                                {% include card_masonry.html 
                                        url="https://www.linkedin.com/learning/foundations-of-programming-databases"
                                        class="full-stack ray front-end skills" 
                                        title="e Becoming a Web Developer: Full Stack vs. Front End" 
                                        categories="Ray Villalobos" 
                                        img=img_foodtopia 
                                %}
                                {% capture img_foodtopia %}
                                        {{site.baseurl}}/tumblr_files/tumblr_mw56x1rpKL1qammdvo1_640.jpg
                                {% endcapture %}
                                {% include card_masonry.html 
                                        url="https://www.linkedin.com/learning/foundations-of-programming-databases"
                                        class="full-stack joe front-end skills" 
                                        title="f Becoming a Web Developer: Full Stack vs. Front End" 
                                        categories="Joe" 
                                        img=img_foodtopia 
                                %}
                </div>
                
        </div>