---
layout: sidebar
scripts: "behance,instagram"
---
<div class="row">
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Digital Prototyping Toolkit for Multi Platform Applications</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Design Thiking and Creative Problem Solving Methods</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Visual Note Taking and Project Documentation Strategies</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Digital Prototyping Toolkit for Multi Platform Applications</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Design Thiking and Creative Problem Solving Methods</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Visual Note Taking and Project Documentation Strategies</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Digital Prototyping Toolkit for Multi Platform Applications</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Design Thiking and Creative Problem Solving Methods</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Visual Note Taking and Project Documentation Strategies</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Digital Prototyping Toolkit for Multi Platform Applications</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Design Thiking and Creative Problem Solving Methods</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-6" style="min-height:27rem; margin-bottom:2rem">
                                        <div class="card" style="padding:2.5rem; position:realtive">
                                                <h3 class="post" style="font-size:2rem; border-top: solid;padding-top:3rem;">Visual Note Taking and Project Documentation Strategies</h3>
                                                <small style="bottom: 2.5rem;position: absolute;right: 3rem;mfont-size: 1.1rem;font-weight: 300;">READ MORE</small>
                                        </div>
                                        
                                </div>
                                </div>
{% include api/instagram/instagram.html %}
{% include api/behance/behance.html %}

