---
layout: site/sidebar
---
<div class="portfolio-title">
  <h3>I'm an an optimist dedicated to help bringing projects to life.I have fun making things and sharing ideas.</h3>
</div>

  <div class="row">
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/fwc-2014-conteudo-multimidia-cobertura-coca-cola" 
                  title="World Cup Brazil" 
                  category="Creative Direction, Film, Photography" 
                  thumb="Coca-Cola_FWC_14-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/launchpad" 
                  title="LaunchPad UX" 
                  category="UI/UX, Product Design" 
                  thumb="launchpad-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/foodtopia" 
                  title="FOODTOPIA xD" 
                  category="UI/UX and Product Design" 
                  thumb="foodtopia-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/kenner-ixd-motion" 
                  title="Kenner IxD & Video" 
                  category="Creative Direction, Interaction Design" 
                  thumb="Kenner_Music_case-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/fwc-2014-conteudo-multimidia-cobertura-coca-cola" 
                  title="World Cup Brazil" 
                  category="Creative Direction, Film, Photography" 
                  thumb="Coca-Cola_FWC_14-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/launchpad" 
                  title="LaunchPad UX" 
                  category="UI/UX, Product Design" 
                  thumb="launchpad-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/foodtopia" 
                  title="FOODTOPIA xD" 
                  category="UI/UX and Product Design" 
                  thumb="foodtopia-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/kenner-ixd-motion" 
                  title="Kenner IxD & Video" 
                  category="Creative Direction, Interaction Design" 
                  thumb="Kenner_Music_case-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/fwc-2014-conteudo-multimidia-cobertura-coca-cola" 
                  title="World Cup Brazil" 
                  category="Creative Direction, Film, Photography" 
                  thumb="Coca-Cola_FWC_14-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/launchpad" 
                  title="LaunchPad UX" 
                  category="UI/UX, Product Design" 
                  thumb="launchpad-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/foodtopia" 
                  title="FOODTOPIA xD" 
                  category="UI/UX and Product Design" 
                  thumb="foodtopia-w624h351.jpg" 
          %}
          {% include components/containers/card/portfolio.html 
                  url="https://work.diogorusso.com/kenner-ixd-motion" 
                  title="Kenner IxD & Video" 
                  category="Creative Direction, Interaction Design" 
                  thumb="Kenner_Music_case-w624h351.jpg" 
          %}
  </div>    
  
