<div class="posts">
        <section>
                <div class="row posts-title">
                        <div class="col-xs-12">
                                <h2>Journal </h2>
                                <h3>Sometimes I write about design & development</h3>
                        </div>
                </div>
                <div class="box">
                        <div class="row">
                                <div class="col-xs-12">
                                        <h1></h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6 card-text">
                                <a href="{{site.baseurl}}/test2.html">
                                <div class="content-wrapper">
                                        <h3>Acessibility, Localization and Internationalization Best Practices</h3>
                                        <small>Read More</small>
                                </div>
                                </a>  
                                </div>
                                        <div class="col-xs-12 col-md-6 col-lg-6 card-text">
                                        <a href="{{site.baseurl}}/test2.html">
                                        <div class="content-wrapper">
                                                <h3>UX Research, Storyboarding and Hypothesis Validation</h3>
                                                <small>Read More</small>
                                        </div>
                                        </a>
                                        
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 card-text">
                                        <a href="{{site.baseurl}}/test2.html">
                                        <div  class="content-wrapper">
                                                <h3>Design Systems, Styleguides and Components Library</h3>
                                                <small>Read More</small>
                                        </div>
                                        </a>
                                        
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 card-text">
                                        <a href="{{site.baseurl}}/test2.html">
                                        <div  class="content-wrapper">
                                                <h3>Digital Prototyping Toolkit</h3>
                                                <small>Read More</small>
                                        </div>
                                        </a>
                                        
                                </div>
                                        <div class="col-xs-12 col-md-6 col-lg-6 card-text">
                                        <a href="{{site.baseurl}}/test2.html">
                                        <div  class="content-wrapper">
                                                <h3>Whiteboarding, Sketching and Visual Note taking</h3>
                                                <small>Read More</small>
                                        </div>
                                        </a>
                                        
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 card-text">
                                        <a href="{{site.baseurl}}/test2.html">
                                        <div  class="content-wrapper">
                                                <h3>Strategy Design and Creative Problem Solving  Methods</h3>
                                                <small>Read More</small>
                                        </div>
                                        </a>
                                        
                                </div>
                                
                                <div class="more-projects" style="text-align:center;margin:3rem 0 4rem; width:100%">
                                <a href="http://work.diogorusso.com/" class="button">explore all projects</a>
                                </div>    
                                
                </div>
        </section>
</div>