<nav class="aside">
    <div class="nav-wrap">
        <div id="filter" class="list filters">
            <h2>
                {{ site.sidebar_title }}
            </h2>
            <ul class="global-controls" style="font-size:1rem;">
                                <li><a href="javascript:void(0)" class="sort" data-sort-value="name">Sort alphabetically by title</a></li>
                        </ul><!-- .global-controls -->
                        <h3 class="filter-title">Filter by subject matter</h3>
                        <ul class="filter-list" data-filter-group="subject">
                                <li><a href="javascript:void(0)" data-filter=".design">Design</a></li>
                                <li><a href="javascript:void(0)" data-filter=".developer">Development</a></li>
                                <li><a href="javascript:void(0)" data-filter=".front-end">Front-end courses</a></li>
                                <li><a href="javascript:void(0)" data-filter=".full-stack">Full-stack courses</a></li>
                                <li><a href="javascript:void(0)" data-filter=".genesis">Genesis (WordPress)</a></li>
                                <li><a href="javascript:void(0)" data-filter=".languages">Programming Languages</a></li>
                                <li><a href="javascript:void(0)" data-filter=".projects">Projects</a></li>
                                <li><a href="javascript:void(0)" data-filter=".rwd">Responsive Web Design</a></li>
                                <li><a href="javascript:void(0)" data-filter=".servers">Servers</a></li>
                                <li><a href="javascript:void(0)" data-filter=".skills">Skills</a></li>
                                <li><a href="javascript:void(0)" data-filter=".tools">Tools</a></li>
                                <li><a href="javascript:void(0)" data-filter=".ux">User Experience</a></li>
                                <li><a href="javascript:void(0)" data-filter=".wp">WordPress</a></li>
                        </ul><!-- .subject -->
                        <h3 class="filter-title">Filter by author</h3>
                        <ul class="filter-list" data-filter-group="author">
                                <li><a href="javascript:void(0)" data-filter=".simon">Simon Allardice</a></li>
                                <li><a href="javascript:void(0)" data-filter=".alex">Alex Banks</a></li>
                                <li><a href="javascript:void(0)" data-filter=".jess">Jess Chadwick</a></li>
                                <li><a href="javascript:void(0)" data-filter=".chelleman">Joe Chelleman</a></li>
                                <li><a href="javascript:void(0)" data-filter=".carrie">Carrie Dils</a></li>
                                <li><a href="javascript:void(0)" data-filter=".joe">Joe Dolson</a></li>
                                <li><a href="javascript:void(0)" data-filter=".drew">Drew Falkman</a></li>
                                <li><a href="javascript:void(0)" data-filter=".val">Val Head</a></li>
                                <li><a href="javascript:void(0)" data-filter=".sue">Sue Jenkins</a></li>
                                <li><a href="javascript:void(0)" data-filter=".chris">Chris Nodder</a></li>
                                <li><a href="javascript:void(0)" data-filter=".morten">Morten Rand-Hendriksen</a></li>
                                <li><a href="javascript:void(0)" data-filter=".justin">Justin Seeley</a></li>
                                <li><a href="javascript:void(0)" data-filter=".kevin">Kevin Skoglund</a></li>
                                <li><a href="javascript:void(0)" data-filter=".barron">Barron Stone</a></li>
                                <li><a href="javascript:void(0)" data-filter=".ray">Ray Villalobos</a></li>
                                <li><a href="javascript:void(0)" data-filter=".james">James Williamson</a></li>
                        </ul>
        </div>
    </div>
</nav>
