<nav class="aside">
    <div class="nav-wrap">
        <div id="filter" class="list filters">
            <h2>
                Ideas
            </h2>
            <ul class="global-controls" style="font-size:1rem;">
                        <ul class="filter-list" data-filter-group="subject">
                                <li><a href="javascript:void(0)" data-filter=".design">Notes</a></li>
                                <li><a href="javascript:void(0)" data-filter=".developer">Shots</a></li>
                                <li><a href="javascript:void(0)" data-filter=".full-stack">Inspiration</a></li>
                        </ul><!-- .subject -->
            </ul><!-- .global-controls -->
                        
        </div>
    </div>
</nav>
