---
layout: default
title: Journal
---
{% include components/hero/minimal.html
  title= "Lab"
  subtitle="Diogo Russo's Side Projects + Experiments "
  legend= "sideprojects + experiments"
  bg_color="bg-light"
  wrap="wrap-large"
  txt_align="txt-left"
  txt_color="txt-dark"
  scroll_arrow="true"
  anchor="journal"
%}

<a id="journal"></a>
<div class="bio row row-no-gutter">
        <div class="col-xs-12 col-no-gutter">
                {% include content/bio/profile.html %}
        </div>
</div>
 <div class="portfolio-title" style="margin-top:9rem;">
        <h2>Projects</h2>
        {% comment %} <h3> Strategy Design ・ Creative Direction ・ Artwork</h3> {% endcomment %}
</div>
{% include summary.html %}
{% include summary.html %}
{% include summary.html %}
{% include summary.html %}














